<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Alex Ballera Portafolio Web, Desarrollo Web, HTML, CSS, Ruby on Rails, Javascript, AngularJS">
  <title>Alex Ballera Desarrollador Web Knowmada</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="#yo">Yo</a>
        </li>
        <li>
          <a href="#perfil">Perfil</a>
        </li>
        <li>
          <a href="#trabajo">Trabajo</a>
        </li>
        <li>
          <a href="#contacto">Contacto</a>
        </li>
      </ul>
    </nav>
    <figure>
      <img src="../static/images/avatar.jpg" alt="Avatar" />
      <figcaption><a href="http://twitter.com/AlexBallera" target="_blank">@AlexBallera</a></figcaption>
      <p>Alex Ballera</p>
    </figure>
  </header>
  <section>
  <h2>Mi Perfil</h2>
  <p>
    Hola! si llegaste hasta aqui puedes ver mi portafolio y contactame
  </p>
    <a href="https://twitter.com/AlexBallera" target="_blank">Twitter</a>
    <a href="https://www.facebook.com/AlexBallera.Net" target="_blank">Facebook</a>
    <a href="https://github.com/alexballera" target="_blank">Github</a>
    <a href="https://plus.google.com/+AlexanderBalleraLugo/posts" target="_blank">Google+</a>
  </section>
  <section>
  <h2>Mi Trabajo</h2>
    <article>
      <figure>
        <img src="../static/images/thumb1.jpg" alt="Esta es la descripcion de la imagen">
        <figcaption>Website de mejorando.la</figcaption>
      </figure>
    </article>
    <article>
      <figure>
        <img src="../static/images/thumb1.jpg" alt="Esta es la descripcion de la imagen">
        <figcaption>Website de mejorando.la</figcaption>
      </figure>
    </article>
    <article>
      <figure>
        <img src="../static/images/thumb1.jpg" alt="Esta es la descripcion de la imagen">
        <figcaption>Website de mejorando.la</figcaption>
      </figure>
    </article>
    <article>
      <figure>
        <img src="../static/images/thumb1.jpg" alt="Esta es la descripcion de la imagen">
        <figcaption>Website de mejorando.la</figcaption>
      </figure>
    </article>
    <article>
      <figure>
        <img src="../static/images/thumb1.jpg" alt="Esta es la descripcion de la imagen">
        <figcaption>Website de mejorando.la</figcaption>
      </figure>
    </article>
  </section>
  <footer>
    <h3>Contacto</h3>
    <p>Si tienes una sugerencia o quieres trabajar conmigo, contactame:</p>
    <form>
      <input type="text" placeholder="Nombre"/>
      <input type="email" placeholder="Email"/>
      <textarea name="" id="" cols="30" rows="10" placeholder="Motivo"></textarea>
      <button type="submit">Contactame</button>

    </form>
  </footer>
</body>
</html>